<div class="card" style="margin-top: 10px;">
    <h1 style="margin-left: 3%;">Hard & Soft Skills</h1>
    <div class="card-body">
        <ul>
            <li *ngFor="let skill of skillList" style="list-style-type:none;">
                <div class="col">
                    <div class="progress" style="margin-top: 1%;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" 
                        role="progressbar" 
                        [ngStyle]="{'width':skill.skill}"
                        aria-valuemax="100">{{skill.skill}}</div>
                    </div> 
                    <p>{{skill.name}}</p>
                </div>
            </li>
        </ul>
    </div>
</div>


