<div class="card" style="margin-top: 10px;">
    <div class="card-body">
        <img [src]="miPortfolio.bannerImg" class="img-fluid rounded-top row" alt="rear banner">   
        <img [src]="miPortfolio.profImg" class="fotoPerfil" alt="foto de perfil">
        <div class="row">
            <div class="col">
                <h1 style="margin-left: 3%;">{{miPortfolio.name}}</h1> 
                <h3 style="margin-left: 3%;">{{miPortfolio.position}} en {{miPortfolio.actual_company}}</h3>
                <h3 style="margin-left: 3%;">{{miPortfolio.localization}}</h3>
            </div>
            <div class="col">
                <div class="d-flex align-items-center">
                    <img [src]="miPortfolio.actual_company_img" alt="img-fluid" class="fotoCompany">
                    <h5>{{miPortfolio.actual_company}}</h5> 
                </div>
                <div class="d-flex align-items-center">
                    <img [src]="education[0].img" alt="img-fluid" class="fotoSchool">
                    <h5 style="margin-left: 3%;">{{education[0].school}}</h5>
                </div>
            </div>
        </div>
    </div>  
</div>
<div class="card" style="margin-top: 10px;">
    <div class="card-body">
        <div class="row">
            <h1 class="col-3" style="margin-left: 3%;">Acerca de mi</h1> 
            <h6 class="col-1"><button class="btn btn-warning" type="button" (click)="toggleEdit()" *ngIf="!edit"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M368.4 18.3L312.7 74.1 437.9 199.3l55.7-55.7c21.9-21.9 21.9-57.3 0-79.2L447.6 18.3c-21.9-21.9-57.3-21.9-79.2 0zM288 94.6l-9.2 2.8L134.7 140.6c-19.9 6-35.7 21.2-42.3 41L3.8 445.8c-3.8 11.3-1 23.9 7.3 32.4L164.7 324.7c-3-6.3-4.7-13.3-4.7-20.7c0-26.5 21.5-48 48-48s48 21.5 48 48s-21.5 48-48 48c-7.4 0-14.4-1.7-20.7-4.7L33.7 500.9c8.6 8.3 21.1 11.2 32.4 7.3l264.3-88.6c19.7-6.6 35-22.4 41-42.3l43.2-144.1 2.8-9.2L288 94.6z"/></svg></button></h6>
        </div>
        <h5 style="margin-left: 3%;">{{miPortfolio.about}}</h5>
    </div>  
    <form *ngIf="edit" class="mx-5 pb-2" [formGroup]="aboutForm">
        <div class="mb-3">
            <label for="about" class="form-label">Ingrese aqui la nueva descripcion</label>
            <input formControlName="about" type="text" class="form-control" id="about" name="about">
            <div *ngIf="about.invalid && (about.dirty || about.touched)" class="text-danger">
                <div *ngIf="about.errors?.['required']">
                  Ingrese una Descripcion.
                </div>
              </div>
        </div>
        <h6><p class="text-danger text-center">{{aboutError}}</p></h6>
        <button type="submit" class="btn btn-success" (click)="saveAbout()">Guardar</button>
        <button type="submit" class="btn btn-warning ms-1" (click)="toggleEdit()">Salir</button>
    </form>
</div>