.fotoPerfil
  {
    height:20%;
    width:20%;
    border-radius: 50%;
    margin-left: 1%;
    margin-top: -10%;
}

.fotoCompany
  {
    height:10%;
    width:10%;
}

.fotoSchool
  {
    height:10%;
    width: 10%;
}