<div class="card" style="margin-top: 10px;">
    <h1 style="margin-left: 3%;">Proyectos</h1>
        <ul>
            <li *ngFor="let proyect of proyectList" style="list-style-type:none;">
                <div class="card-body">
                    <!--<img [src]="education.img" alt="Logo School">-->
                    <h4 style="margin-left: 3%;"><strong>{{proyect.company}}</strong> - {{proyect.name}}</h4>
                    <p style="margin-left: 3%;">{{proyect.start}} - {{proyect.end}}</p>
                    
                </div>
            </li>
        </ul>
</div>